.div1 {
    border: solid 2px;
    width: 40px;
}

.div2 {
    border: solid 2px;
    width: 100px;
}

.div3 {
    border: solid 2px;
    width: 50%;
}

.div4 {
    border: solid 2px;
    width: auto;
}

.div5 {
    border: solid 2px;
    max-width: 50px;
}

.div6 {
    border: solid 2px;
    min-width: 60px;
}
.div7 {
    border: solid 2px;
    min-width:none ;
}
/*مثل هم هستند height و width  */